# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
  - package-ecosystem: devcontainers
    directory: /
    schedule:
      interval: daily
      time: "07:00"
      timezone: Asia/Tokyo
    open-pull-requests-limit: 10
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: "07:00"
      timezone: Asia/Tokyo
    open-pull-requests-limit: 10
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
      time: "07:00"
      timezone: Asia/Tokyo
    open-pull-requests-limit: 10
    versioning-strategy: increase
