[user]
	name = Takahito Nakano
	email = kano@ponko2.jp
	signingkey = FE0A9D7F
[color]
	ui = auto
[core]
	pager = less
	editor = vim -u NONE -i NONE -N -c 'syntax on'
	excludesfile = ~/.gitignore
	quotepath = false
	precomposeunicode = true
[push]
	default = current
[merge]
	ff = false
[pull]
	rebase = preserve
[diff]
	compactionHeuristic = true
[interactive]
	diffFilter = diff-highlight
[pager]
	log = diff-highlight | LESS=-R less
	show = diff-highlight | LESS=-R less
	diff = diff-highlight | LESS=-R less
[ghq]
	root = ~/src
[grep]
	fullname = true
[tag]
	sort = version:refname
[fetch]
	prune = true
[rebase]
	autosquash = true
	autostash = true
[stash]
	showPatch = true
[gpg]
	program = gpg2
[commit]
	gpgsign = true
