[user]
	name = Takahito Nakano
	email = kano@ponko2.jp
[color]
	ui = auto
[core]
	pager = less
	editor = vim -u NONE -i NONE -N -c 'syntax on'
	excludesfile = ~/.gitignore
	quotepath = false
	precomposeunicode = true
[push]
	default = current
[merge]
	ff = false
[pull]
	rebase = preserve
[pager]
	log = diff-highlight | LESS=-R less
	show = diff-highlight | LESS=-R less
	diff = diff-highlight | LESS=-R less
[ghq]
	root = ~/src
