*
!.gitignore
!alacritty/
!alacritty/**
!anyframe/
!anyframe/**
!git/
!git/**
!karabiner/
!karabiner/assets
!karabiner/assets/complex_modifications
!karabiner/assets/complex_modifications/**
!nvim/
!nvim/**
!starship.toml
!yamllint/
!yamllint/**
