"*":
  "atom-ternjs":
    inlineFnCompletion: false
    useSnippets: true
  "autocomplete-plus":
    useAlternateScoring: true
  core:
    closeEmptyWindows: false
  editor:
    backUpBeforeSaving: true
    fontFamily: "Ricty"
    fontSize: 18
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "995809c0-dab0-1a4e-ddae-dc00c4fcc8ce"
  "fuzzy-finder":
    useAlternateScoring: true
  "git-diff":
    showIconsInEditorGutter: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    fixOnSave: true
    globalNodePath: "/usr/local"
  "linter-phpcs":
    disableWhenNoConfigFile: true
  "linter-phpmd":
    projectRules: true
  "linter-stylelint":
    disableWhenNoConfig: true
    usePreset: false
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    autoReveal: true
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
